# Ignorar capturas automáticas
Saved/AutoScreenshot.png

# Ignorar cachés de web
Saved/webcache_4430/Cache/*

# Ignorar archivos binarios intermedios y registros
Intermediate/
DerivedDataCache/*
Saved/Logs/*
*.log