# Ignorar capturas automáticas
Saved/AutoScreenshot.png

# Ignorar cachés de web
Saved/webcache_4430/Cache/*

# Ignorar archivos binarios intermedios y registros
Intermediate/
DerivedDataCache/*
Saved/Logs/*
*.log

# Ignorar configuraciones específicas del usuario
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini

# Ignorar archivos de registro binario
*.bin
Project_Unmetal/Config/DefaultEditorPerProjectUserSettings.ini
Project_Unmetal/Saved/Config/CrashReportClient/UECC-Windows-C33ABF16404199E119B9B6A8CD025145/CrashReportClient.ini
Project_Unmetal/Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
Project_Unmetal/Saved/Config/WindowsEditor/Engine.ini
Project_Unmetal/Saved/Config/WindowsEditor/GameUserSettings.ini
Project_Unmetal/Saved/webcache_4430/Cache/data_0
Project_Unmetal/Saved/webcache_4430/Cache/data_1
Project_Unmetal/Saved/webcache_4430/Cache/data_2
Project_Unmetal/Saved/webcache_4430/Cache/data_3
Project_Unmetal/Saved/webcache_4430/Cache/f_000001
Project_Unmetal/Saved/webcache_4430/Cache/f_000002
Project_Unmetal/Saved/webcache_4430/Cache/f_000003
Project_Unmetal/Saved/webcache_4430/Cache/f_000004
Project_Unmetal/Saved/webcache_4430/Cache/f_000005
Project_Unmetal/Saved/webcache_4430/Cache/f_000006
Project_Unmetal/Saved/webcache_4430/Cache/f_000007
Project_Unmetal/Saved/webcache_4430/Cache/f_000008
Project_Unmetal/Saved/webcache_4430/Cache/f_000009
Project_Unmetal/Saved/webcache_4430/Cache/f_00000a
Project_Unmetal/Saved/webcache_4430/Cache/f_00000b
Project_Unmetal/Saved/webcache_4430/Cache/f_00000c
Project_Unmetal/Saved/webcache_4430/Cache/f_00000d
Project_Unmetal/Saved/webcache_4430/Cache/f_00000e
Project_Unmetal/Saved/webcache_4430/Cache/f_00000f
Project_Unmetal/Saved/webcache_4430/Cache/f_000010
Project_Unmetal/Saved/webcache_4430/Cache/f_000011
Project_Unmetal/Saved/webcache_4430/Cache/f_000012
Project_Unmetal/Saved/webcache_4430/Cache/f_000013
Project_Unmetal/Saved/webcache_4430/Cache/f_000014
Project_Unmetal/Saved/webcache_4430/Cache/f_000015
Project_Unmetal/Saved/webcache_4430/Cache/f_000016
Project_Unmetal/Saved/webcache_4430/Cache/f_000017
Project_Unmetal/Saved/webcache_4430/Cache/f_000018
Project_Unmetal/Saved/webcache_4430/Cache/f_000019
Project_Unmetal/Saved/webcache_4430/Cache/f_00001a
Project_Unmetal/Saved/webcache_4430/Cache/f_00001b
Project_Unmetal/Saved/webcache_4430/Cache/f_00001c
Project_Unmetal/Saved/webcache_4430/Cache/f_00001d
Project_Unmetal/Saved/webcache_4430/Cache/f_00001e
Project_Unmetal/Saved/webcache_4430/Cache/f_00001f
Project_Unmetal/Saved/webcache_4430/Cache/f_000020
Project_Unmetal/Saved/webcache_4430/Cache/f_000021
Project_Unmetal/Saved/webcache_4430/Cache/f_000022
Project_Unmetal/Saved/webcache_4430/Cache/f_000023
Project_Unmetal/Saved/webcache_4430/Cache/f_000024
Project_Unmetal/Saved/webcache_4430/Cache/f_000025
Project_Unmetal/Saved/webcache_4430/Cache/f_000026
Project_Unmetal/Saved/webcache_4430/Cache/f_000027
Project_Unmetal/Saved/webcache_4430/Cache/f_000028
Project_Unmetal/Saved/webcache_4430/Cache/f_000029
Project_Unmetal/Saved/webcache_4430/Cache/f_00002a
Project_Unmetal/Saved/webcache_4430/Cache/f_00002b
Project_Unmetal/Saved/webcache_4430/Cache/f_00002c
Project_Unmetal/Saved/webcache_4430/Cache/f_00002d
Project_Unmetal/Saved/webcache_4430/Cache/f_00002e
Project_Unmetal/Saved/webcache_4430/Cache/f_00002f
Project_Unmetal/Saved/webcache_4430/Cache/f_000030
Project_Unmetal/Saved/webcache_4430/Cache/f_000031
Project_Unmetal/Saved/webcache_4430/Cache/f_000032
Project_Unmetal/Saved/webcache_4430/Cache/f_000033
Project_Unmetal/Saved/webcache_4430/Cache/f_000034
Project_Unmetal/Saved/webcache_4430/Cache/f_000035
Project_Unmetal/Saved/webcache_4430/Cache/f_000036
Project_Unmetal/Saved/webcache_4430/Cache/f_000037
Project_Unmetal/Saved/webcache_4430/Cache/f_000038
Project_Unmetal/Saved/webcache_4430/Cache/f_000039
Project_Unmetal/Saved/webcache_4430/Cache/f_00003a
Project_Unmetal/Saved/webcache_4430/Cache/f_00003b
Project_Unmetal/Saved/webcache_4430/Cache/f_00003c
Project_Unmetal/Saved/webcache_4430/Cache/f_00003d
Project_Unmetal/Saved/webcache_4430/Cache/f_00003e
Project_Unmetal/Saved/webcache_4430/Cache/f_00003f
Project_Unmetal/Saved/webcache_4430/Cache/f_000040
Project_Unmetal/Saved/webcache_4430/Cache/f_000041
Project_Unmetal/Saved/webcache_4430/Cache/f_000042
Project_Unmetal/Saved/webcache_4430/Cache/f_000043
Project_Unmetal/Saved/webcache_4430/Cache/f_000044
Project_Unmetal/Saved/webcache_4430/Cache/f_000045
Project_Unmetal/Saved/webcache_4430/Cache/f_000046
Project_Unmetal/Saved/webcache_4430/Cache/f_000047
Project_Unmetal/Saved/webcache_4430/Cache/f_000048
Project_Unmetal/Saved/webcache_4430/Cache/f_000049
Project_Unmetal/Saved/webcache_4430/Cache/f_00004a
Project_Unmetal/Saved/webcache_4430/Cache/f_00004b
Project_Unmetal/Saved/webcache_4430/Cache/f_00004c
Project_Unmetal/Saved/webcache_4430/Cache/f_00004d
Project_Unmetal/Saved/webcache_4430/Cache/index
Project_Unmetal/Saved/webcache_4430/Code Cache/js/index
Project_Unmetal/Saved/webcache_4430/Code Cache/js/index-dir/the-real-index
Project_Unmetal/Saved/webcache_4430/Code Cache/wasm/index
Project_Unmetal/Saved/webcache_4430/Code Cache/wasm/index-dir/the-real-index
Project_Unmetal/Saved/webcache_4430/Cookies
Project_Unmetal/Saved/webcache_4430/Cookies-journal
Project_Unmetal/Saved/webcache_4430/CURRENT
Project_Unmetal/Saved/webcache_4430/Local Storage/leveldb/CURRENT
Project_Unmetal/Saved/webcache_4430/Local Storage/leveldb/LOCK
Project_Unmetal/Saved/webcache_4430/Local Storage/leveldb/LOG
Project_Unmetal/Saved/webcache_4430/Local Storage/leveldb/MANIFEST-000001
Project_Unmetal/Saved/webcache_4430/LocalPrefs.json
Project_Unmetal/Saved/webcache_4430/LOCK
Project_Unmetal/Saved/webcache_4430/LOG
Project_Unmetal/Saved/webcache_4430/MANIFEST-000001
Project_Unmetal/Saved/webcache_4430/Network Persistent State
Project_Unmetal/Saved/webcache_4430/Reporting and NEL
Project_Unmetal/Saved/webcache_4430/Reporting and NEL-journal
Project_Unmetal/Saved/webcache_4430/TransportSecurity
Project_Unmetal/Saved/webcache_4430/Visited Links
Project_Unmetal/Config/DefaultInput.ini
Project_Unmetal/Config/DefaultGame.ini
Project_Unmetal/Config/DefaultEngine.ini
Project_Unmetal/Config/DefaultEditor.ini
Project_Unmetal/Saved/webcache_4430/Session Storage/MANIFEST-000001
Project_Unmetal/Saved/webcache_4430/Session Storage/LOG
Project_Unmetal/Saved/webcache_4430/Session Storage/LOCK
Project_Unmetal/Saved/webcache_4430/Session Storage/000001.dbtmp
Project_Unmetal/Saved/Config/WindowsEditor/VariantManagerContent.ini
Project_Unmetal/Saved/Config/WindowsEditor/TraceUtilities.ini
Project_Unmetal/Saved/Config/WindowsEditor/TraceDataFilters.ini
Project_Unmetal/Saved/Config/WindowsEditor/ToolPresets.ini
Project_Unmetal/Saved/Config/WindowsEditor/Synthesis.ini
Project_Unmetal/Saved/Config/WindowsEditor/StructUtils.ini
Project_Unmetal/Saved/Config/WindowsEditor/Scalability.ini
Project_Unmetal/Saved/Config/WindowsEditor/RuntimeOptions.ini
Project_Unmetal/Saved/Config/WindowsEditor/Paper2D.ini
Project_Unmetal/Saved/Config/WindowsEditor/Niagara.ini
Project_Unmetal/Saved/Config/WindowsEditor/Metasound.ini
Project_Unmetal/Saved/Config/WindowsEditor/Lightmass.ini
Project_Unmetal/Saved/Config/WindowsEditor/Interchange.ini
Project_Unmetal/Saved/Config/WindowsEditor/InstallBundle.ini
Project_Unmetal/Saved/Config/WindowsEditor/Input.ini
Project_Unmetal/Saved/Config/WindowsEditor/IKRig.ini
Project_Unmetal/Saved/Config/WindowsEditor/Hardware.ini
Project_Unmetal/Saved/Config/WindowsEditor/GLTFExporter.ini
Project_Unmetal/Saved/Config/WindowsEditor/Game.ini
Project_Unmetal/Saved/Config/WindowsEditor/FullBodyIK.ini
Project_Unmetal/Saved/Config/WindowsEditor/EnhancedInput.ini
Project_Unmetal/Saved/Config/WindowsEditor/EditorScriptingUtilities.ini
Project_Unmetal/Saved/Config/WindowsEditor/Editor.ini
Project_Unmetal/Saved/Config/WindowsEditor/DeviceProfiles.ini
Project_Unmetal/Saved/Config/WindowsEditor/DatasmithContent.ini
Project_Unmetal/Saved/Config/WindowsEditor/ControlRig.ini
Project_Unmetal/Saved/Config/WindowsEditor/Compat.ini
Project_Unmetal/Saved/Config/WindowsEditor/Bridge.ini
Project_Unmetal/Saved/Config/CrashReportClient/UECC-Windows-3EE0065E4D8F0A8B8CDE78848B36A301/CrashReportClient.ini
Project_Unmetal/Saved/AutoScreenshot.png
Project_Unmetal/Saved/Autosaves/PackageRestoreData.json
Project_Unmetal/Saved/webcache_4430/Local Storage/leveldb/LOG.old
Project_Unmetal/Saved/webcache_4430/LOG.old
